#logo {
    width: 50px;
}
#delicious {
    font-family: 'Yellowtail'; font-size: 32px;
    margin: 5px;
    padding: 0px;
    line-height: 10px;
    /* display: flexbox; */
    /* float: left; */
}
#best {
    font-family: 'Lateef'; font-size: 10px;
}
#wide {
    width: 425px;
}
#space {
    padding-right: 10px;
}
#print {
    width: 475px;
    font-size: 11px;
}
#printer {
    float: right;
}
.logos {
    float: right;
    padding: 1px;
}

body {
    width: 960px;
    margin: 0 auto;
}

#chocPi {
    font-family: 'Oswald', sans-serif;
    font-size: xx-large;
    font-weight: 800;
}

#postDate {
    font-size: x-small;
    float: inline-start
}

#chocPiPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#recipe {
    overflow-wrap: break-word;
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 2em;
    
}

#ingredients {
    column-count: 2;
    background-image: url("/images/list-bg.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 20px;
    float: left;
    font-family: sans-serif;
    font-size: larger;
}

#ingList1 {
    margin-left: 5em;
    margin-top: 1em;
}

#ingList2 {
    margin-left: 5em;
    margin-top: 3em;
}

#vanessa {
    margin-top: 505px;
    margin-bottom: 20px;
    width: 100%;
}

#vanPic {
    /* box-sizing: content-box; */
    /* position: absolute; */
    width: 30%;
    height: 300px;
    /* margin-top: 10px;
    margin-bottom: 20px; */
    float: left;
    margin-right: 0em;
}

#vanQuote {
    /* box-sizing: content-box; */
    /* position: absolute; */
    width: 40%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    /* margin-left: 0em; */
    /* text-indent: 300em; */
}

#share {
    /* box-sizing: content-box; */
    /* position: absolute; */
    width: 30%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
    background-color: brown;
    color: white;
    text-align: center;
    padding-top: 10px;
}

/* table {
    width: 100%;
} */

/* #copyrightLogo {
    margin-top: 40px;
    float: left;
    /* position: absolute;
    top: 50%;
    display: block;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); */
/* } */ 

#empty {
    position: relative;
    max-width: 100%;
    width: auto;
    overflow: hidden;
    height: 100px;
}

#full {
    position: relative;
    max-width: 100%;
    width: auto;
    overflow: hidden;
    height: 200px;
}
span {
    /* margin-top: 5px; */
    width: 100%;
    border-bottom:1px solid;
    position: relative;
    display: block;
    height: 50px;
    overflow: visible;
}
#copyrightLogo {
    position: absolute;
    top: 50%;
    display: block;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.p {
    text-align: center;
}